.color-palette-details p,
.page-content .photo-category a {
  font-size: 12px;
}

.digital-designs-img-caption,
.neutral-color-palette .color-palette-details,
.pattern-example-item p {
  font-size: 14px;
}

.designs-block-title,
.font-example-md {
  font-size: 20px;
}

.colors-subnav .color-menu-item,
.digital-designs-subnav .digital-designs-menu-item,
.graphics-subnav .graphics-menu-item,
.icons-subnav .icons-menu-item,
.maps-subnav .maps-menu-item,
.page-content .map-link,
.patterns-subnav .patterns-menu-item,
.photos-subnav .photos-menu-item,
.typography-subnav .typography-menu-item {
  color: #00558c;
}

.clinical-photo-guidelines ul,
.designs-block ul {
  color: #58595b;
}

.clinical-photo-guideline h2,
.designs .page-content h1,
.icons .hero h2,
.page-content .photo-category a {
  color: #03173e;
}

.primary-color-palette .color-palette-color,
.neutral-color-palette .color-palette-color {
  height: 150px;
}

.digital-designs .col-two img,
.graphic-shapes .col-two img,
.icon-asset img,
img.color-balance,
img.graphic-shapes-examples,
.map-img img,
.map-type img,
.neutral-color-palette .color-palette-color,
.patterns .col-two img,
.pattern-example-item img,
.photography .col-two img,
.primary-color-palette .color-palette-color,
.secondary-primary {
  width: 100%;
}

.icons-link,
.page-content .map-link,
.photos-content a {
  display: inline-block;
}

.color-palette-item,
.icons .hero {
  flex-direction: column;
}

.icons .hero,
.photo-category {
  justify-content: center;
}

.page-content .photo-category a,
.photos-content p.strong {
  margin-bottom: 0;
}

.clinical-photo-guideline ul,
.graphics-text ul,
.map-img:nth-of-type(2) {
  padding-left: 20px;
}

.digital-designs .col-two .digital-designs-text,
.graphic-shapes .col-two .graphics-text,
.guiding-principles,
.pattern-example-item,
.patterns-img,
.photography .col-two .photos-text {
  padding-right: 40px;
}

.clinical-photo-guideline,
.patterns .col-two .patterns-text {
  padding-right: 60px;
}

.icon-asset,
.page-content .photo-category a {
  text-align: center;
}

.clinical-photo-guideline ul,
.graphics-text ul {
  list-style: disc;
}

.digital-designs .col-two img,
.graphic-shapes .col-two img,
.patterns .col-two img,
.pattern-example-item img,
.photography .col-two img {
  max-width: 100%;
  height: auto;
}

.color-palette {
  margin: 20px 0 40px 0;
}

.color-palette-item {
  flex-grow: 1;
  margin: 0 5px;
}

.color-palette-name {
  font-size: 15px;
}

.color-palette-details p {
  margin-bottom: 5px;
}

.color-palette-color.hca-healthcare-orange {
  background-color: #e05929;
}

.color-palette-color.hca-healthcare-navy {
  background-color: #03173e;
}

.color-palette-color.color-white {
  background-color: #fff;
  border: 1px solid #58595b;
}

.color-palette-color.color-slate {
  background-color: #58595b;
}

.color-palette-color.color-chrome-dark {
  background-color: #898b8e;
}

.color-palette-color.color-chrome-light {
  background-color: #bbbcbc;
}

.color-palette-color.color-chrome-ultralight {
  background-color: #d9d9d6;
}

.color-palette-color.color-denim {
  background-color: #00558c;
}

.color-palette-color.color-cerulean {
  background-color: #0085ca;
}

.color-palette-color.color-tangerine {
  background-color: #ed8b00;
}

.color-palette-color.color-goldenrod {
  background-color: #ffc845;
}

.color-palette-color.tristar-blue {
  background-color: #004990;
}

.color-palette-color.tristar-red {
  background-color: #EF3E42;
}

.map.featured-img {
  margin-bottom: 50px;
}

.color-contrast-orange {
  align-items: flex-start;
}

img.color-contrast-single {
  width: 165px;
  margin-right: 30px;
}

.designs .page-content h1 {
  font-size: 32px;
}

.designs .accordion {
  max-width: 230px;
}

.designs-block ul {
  list-style: initial;
}

.designs-block-text {
  padding-right: 50px;
}

.designs-block-img {
  padding: 0 15px;
}

.designs-block-img img {
  padding-bottom: 10px;
}

.designs-block-title {
  margin-bottom: 15px;
}

.font-example {
  padding: 0 25px;
}

.font-example-lg {
  color: #e05929 !important;
  font-size: 40px;
}

.font-example-md {
  color: #03173e !important;
}

.graphic-shapes .col-two .graphics-text,
.photography .col-two .photos-text,
.digital-designs .col-two .digital-designs-text {
  flex-basis: 55%;
}

.graphics-img,
.photos-img,
.digital-designs-img {
  flex-basis: 45%;
}

.guiding-principle-title {
  font-size: 18px;
  color: #03173e !important;
}

img.graphic-shapes-examples {
  padding: 40px;
}

.icons-link {
  margin: 20px 0 40px;
}

.icons .hero {
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;
  border: 1px solid #d9d9d9;
  padding-left: 40px;
  padding-right: 40px;
}

.icons .hero h2 {
  font-size: 30px;
}

.icons-text {
  padding: 40px 0px;
}

.icon-asset {
  padding: 10px;
}

.icon-asset a {
  color: #54575a;
}

.maps-three-col .map-type {
  padding: 25px;
}

.map-type img {
  height: auto;
}

.photo-category {
  background-color: #eeeeee;
  border: 12px solid #fff;
  height: 100px;
  align-items: center;
}

.pattern-example-item p {
  margin-top: 10px;
}

.patterns .col-two .patterns-text {
  flex-basis: 75%;
}

.secondary-primary {
  height: 20px;
}

.seperator {
  padding-bottom: 5px;
  border-bottom: 1px solid #d9d9d6;
}

@media (min-width: 768px) {
  .clinical-photo-guidelines,
  .digital-designs .col-two,
  .graphic-shapes .col-two,
  .photography .col-two,
  .patterns .col-two,
  .patterns-examples {
    display: flex;
    flex-wrap: wrap;
  }

  .designs-block {
    display: flex;
    margin-top: 40px;
  }

  .guiding-principles-container {
    padding-right: 80px;
  }

  .icons .hero h2,
  .icons .hero p {
    max-width: 275px;
  }

  .icons .hero {
    background-image: url("img/icons/icon-hero-01@2x.png");
    padding-left: 60px;
  }

  .icons-text {
    padding: 40px 60px;
  }

  .icon-asset {
    flex-basis: 25%;
  }

  .maps-three-col .map-type,
  .photo-category {
    flex-basis: 33.3333%;
  }
}
